<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <section class="section live-section full-width" th:fragment="live-section">
        <p>Aktywne strumienie:</p>
        <div class="video-list">
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video2.jpg}" src="/static/images/video2.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>TiREX</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video3.jpg}" src="/static/images/video3.jpg"/>
                    <i class="fa fa-twitch video-icon left-bottom" aria-hidden="true"></i>
                </div>
                <p>SzymonSzymek</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video.jpg}" src="/static/images/video.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>Buzkaa</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video.jpg}" src="/static/images/video.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>Buzkaa</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video.jpg}" src="/static/images/video.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>Buzkaa</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video.jpg}" src="/static/images/video.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>Buzkaa</p>
            </div>
            <div class="video">
                <div class="video-image not-selectable">
                    <img th:src="@{/images/video.jpg}" src="/static/images/video.jpg"/>
                    <i class="fa fa-youtube-play left-bottom" aria-hidden="true"></i>
                </div>
                <p>Buzkaa</p>
            </div>
        </div>
    </section>
</body>
</html>