<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <section class="section statistic-section" th:fragment="statistic-section">
        <span>Subskrypcje Youtube: <span class="statistic">123 456</span></span>
        <span>Wyświetlenia Youtube: <span class="statistic">123 456</span></span>

        <span>Wyświetlenia Twitch: <span class="statistic">123 456</span></span>
        <span>Obserwujący Twitch: <span class="statistic">123 456</span></span>
        <span>Subskrypcje Twitch: <span class="statistic">123 456</span></span>
    </section>
</body>
</html>